.hex {
  background-color: #3ba1f2;
}
.bot {
  background-color: #3ba1f2;
  color: white
}
.big {
  background-color: #3ba1f2;
  color: white
}
.bor{
  border-style: solid;
  border-color: #3ba1f2;
}

.newtweet{
  margin-top: 1rem;
}

.actions {
  margin-top: 1rem;
}
.tweet {
  margin-bottom: 0.5rem;
}
